.bg-login {
  padding-top: 40px;
}

.img-bg {
  width: 100%;
}

.card-login {
  background: #f7f9fb;
  box-shadow: 6px 6px 14px -6px rgb(0 63 128 / 12%),
    0px 8px 32px -4px rgb(0 63 128 / 10%) !important;
  border-radius: 25px !important;
}

.card-login .card-body {
  padding: 6rem 4rem;
}

.title-login {
  font-family: "PT Sans Caption", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #2d4857;
  line-height: 51.76px;
}

label {
  font-family: "PT Sans Caption";
  font-size: 14px;
  line-height: 16px;
}

.btn-login {
  width: 100%;
  background: #2d4857;
  border-radius: 10px;
  font-family: "PT Sans Caption";
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}

.btn-login a{
  color: #ffffff;
}

.form-login input {
    background-color: #FFFFFF !important;
border: 1px solid #BECCFF !important;
border-radius: 10px !important;
background-image: none !important;
}

.content-bg-img{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}